.input-wrapper {
  position: relative;
  width: 200px;
}

.input-wrapper i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Ikona nuk do të bllokojë inputin */
}

.input-wrapper input {
  width: 100%;
  padding-left: 30px; /* Hapsira për ikonën */
  padding: 5px;
  font-size: 16px;
}
